* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(135deg, #f1f5f8 0%, #e2e8f0 100%);
  background: url("../assets/book1.jpg") no-repeat center center / cover;
  position: relative;

  color: #333;
  line-height: 1.6;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.booklist-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.booklist-page {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: brightness(0.7);
}

.booklist-container {
  position: relative;
  height: calc(90vh - 10px);
  overflow-y: scroll;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  scrollbar-width: none;
  animation: slideIn 0.5s ease-in-out;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.booklist-container::-webkit-scrollbar {
  display: none;
}

.booklist {
  width: 90%;
  max-width: 1200px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: rgba(49, 49, 49, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book img {
  width: 200px;
  height: 260px;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.book h2 {
  margin-top: 1rem;
  font-size: 1.3rem;
  text-align: center;
  color: #f0b300;
}

.book h4 {
  color: #ffffff;
  margin-top: 0.5rem;
  font-size: 0.85rem;
  text-align: center;
}

.book-button {
  all: unset;
  cursor: pointer;
  display: block;
  width: 95%;
  text-align: center;
  outline: none;
  padding: 10px;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
